.card {
    position: absolute;
    width: 95%;
    height: 80%;
    box-shadow: 0px 0px 5px gray;
    left: 2.5%;
    top: 5%;
}
#login-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
#login-form input {
    width: 300px;
    padding-right: 30%;
}
#login-form button {
    position: absolute;
    left: 75%;
    width: 100px;
    margin-left: 2px;
}

.error {
    width: 300px;
}